/**************************
*
*  Font System
*
**************************/
$font-primary: 'Sen', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

/**************************
*
*  Colors System
*
**************************/
$gray:          #576677;
$azure:         #38A5DB;
$darkBg:        #252B42;
$purple:        #4250BF;
$purple2:       #5454D4;
$blue:          #0F81FF;
$menuColor:     #1C2085;
$modalGray:     #45515F;
$modalGray2:    #828282;