.newsletter {
    display: flex;
    flex-direction: column;
    margin-bottom: 39px;
    @include media-breakpoint-up(md) {
        margin-bottom: 16.146vw;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 124px;
    }

    &__title {
        font-size: 14px;
        line-height: 186%;
        color: rgba($white, .7);
        mix-blend-mode: normal;
        margin-bottom: 8px;
        @include media-breakpoint-up(md) {
            margin-bottom: 18px;
            font-size: 18px;
            line-height: 144%;
        }
    }

    &__inputWrapper {
        form {
            width: 100%;
            @include media-breakpoint-up(md) {
                display: flex;
            }
            @include media-breakpoint-up(lg) {
                max-width: 570px;
            }

            input {
                @include media-breakpoint-up(md) {
                    margin-bottom: 0;
                    margin-right: -45px;
                }
            }
    
            button {
                @include media-breakpoint-up(md) {
                    width: fit-content;
                }
            }
        }
    }
}